@model string 
@{
    ViewData["Title"] = "Delete Confirmation";
}

<h1>Delete Confirmation</h1>

<div>
    <p>Deleted Successfully</p>
</div>

<a asp-action="Appointments" asp-controller="Home" class="btn btn-primary">Back to Appointments</a>